################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite-journal
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/config/applicationhost.config
/.vs/avii/v15/Server/sqlite3/storage.ide-wal
/.vs/avii/v15/Server/sqlite3/storage.ide-shm
/.vs/avii/v15/Server/sqlite3/storage.ide
/.vs/avii/v15/Server/sqlite3/db.lock
/.vs/avii/v15/.suo
/bin/web.config
/bin/Telerik.Web.UI.dll
/bin/Telerik.QuickStart.dll
/bin/Telerik.Charting.dll
/bin/System.Web.Services.dll
/bin/System.Web.Extensions.dll
/bin/System.Web.Ajax.dll
/bin/SV.Framework.LabelGenerator.pdb
/bin/SV.Framework.LabelGenerator.dll.config
/bin/SQLLAYER.dll
/bin/ru/Telerik.Web.UI.dll
/bin/ru/Telerik.QuickStart.dll
/bin/ru/Telerik.Charting.dll
/bin/ru/Ajax.dll
/bin/Newtonsoft.Json.xml
/bin/Newtonsoft.Json.dll
/bin/Microsoft.ReportViewer.WebForms.xml
/bin/Microsoft.ReportViewer.WebForms.dll
/bin/Microsoft.ReportViewer.Common.dll
/bin/itextsharp.dll
/bin/avii.pdb
/bin/AjaxControlToolkit.dll
/bin/Ajax.dll
/avii.5.1.ReSharper.user
/packages/iTextSharp.5.5.13.1/notice.txt
/packages/iTextSharp.5.5.13.1/LICENSE.md
/packages/iTextSharp.5.5.13.1/lib/iTextSharp.xml
/packages/iTextSharp.5.5.13.1/lib/itextsharp.dll
/packages/iTextSharp.5.5.13.1/iTextSharp.5.5.13.1.nupkg
/packages/iTextSharp.5.5.13.1/gnu-agpl-v3.0.md
/packages/iTextSharp.5.5.13.1/.signature.p7s
/obj/Release/avii.csprojAssemblyReference.cache
/obj/Release/avii.csproj.CoreCompileInputs.cache
/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/avii.csprojAssemblyReference.cache
/images
/img
/obj
/packages
/UploadedData
