<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="avii.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="ShippingLabelFromSettings" type="SV.Framework.Common.ShippingLabelGenerator.ShippingLabelFromSettings, SV.Framework.Common.ShippingLabelGenerator"/>
    <section name="EndiciaAccountSettings" type="SV.Framework.Common.ShippingLabelGenerator.EndiciaAccountSettings, SV.Framework.Common.ShippingLabelGenerator"/>
  </configSections>
  <connectionStrings>
    <!--149.28.80.220;Initial Catalog=lanDB;Persist Security Info=False;User ID=langsqldbadmin;Password=L@nG0bal@sql2022
  <add name="SQLConnectionString" connectionString="Server=tcp:lansqldb.database.windows.net,1433;Initial Catalog=lanDB;Persist Security Info=False;User ID=lansqldbadmin;Password=lan@91605;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=120;" />-->
    <add name="SQLConnectionString" connectionString="server=DESKTOP-F26UQOL\SQLEXPRESS;database=landb2;MultipleActiveResultSets=True; Integrated Security=true;Persist Security Info=true;Connect Timeout=120"/>
    <add name="SQLConnectionString44" connectionString="Server=66.42.103.155;Initial Catalog=lanDB;Persist Security Info=False;User ID=lansqldbadmin;Password=L@nG0bal@sql2021;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=120;"/>
    <add name="SQLConnectionString00" connectionString="server=DESKTOP-F26UQOL\SQLEXPRESS;database=landbNEW;MultipleActiveResultSets=True; Integrated Security=true;Persist Security Info=true;Connect Timeout=120"/>
    <add name="SQLConnectionString33" connectionString="Server=tcp:lansqldb.database.windows.net,1433;Initial Catalog=lanDB;Persist Security Info=False;User ID=lansqldbadmin;Password=lan@91605;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=120;"/>
    <add name="SQLConnectionString22" connectionString="server=sql5103.site4now.net;database=db_a1ec2d_2021;User ID=db_a1ec2d_2021_admin;PWD=Test@12345;Integrated Security=False;Persist Security Info=False;"/>
	<add name="SQLConnectionString101" connectionString="Server=149.28.80.220;Initial Catalog=lanDB;Persist Security Info=False;User ID=langsqldbadmin;Password=L@nG0bal@sql2022;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=True;Connection Timeout=120;" />

  </connectionStrings>
  <appSettings>
    <add key="aspnet:MaxHttpCollectionKeys" value="5000"/>
    <add key="rmaemail" value="langlobal.rma@aerovoice.com"/>
    <add key="AdminEmail" value="surandersharma@gmail.com"/>
    <add key="AdminEmailPwd" value="hanu@335"/>
    <add key="EmailTo" value="bhargava.jagdeep@gmail.com"/>
    <add key="MailServer" value="smtp.gmail.com"/>
    <add key="port" value="587"/>
    <add key="enableSSl" value="false"/>
    <!--205.178.146.249-->
    <add key="DownloadImages" value="\content\"/>
    <add key="LogonPage" value="/logon.aspx"/>
    <add key="pagesize" value="30"/>
    <add key="defaultuser" value="2"/>
    <add key="FullfillmentFilesStoreage" value="\UploadedData\"/>
    <add key="RMAFilesStorage" value="\RMAData\"/>
    <add key="FulfillmentSubjectOK" value="Your Lan Global File is Ready for Download"/>
    <add key="FulfillmentSubjectCancel" value="File Sent was Canceled/ Deleted"/>
    <add key="FulfillmentSubjectPending" value="File Upload Confirmation"/>
    <add key="FulfillmentAdminEmail" value="admin@aerovoice.com"/>
    <add key="av_rma" value="RMA"/>
    <add key="RmaStatusSubject" value="Status of RMA"/>
    <add key="UserType" value="LANGlobal"/>
    <add key="filepath" value="F:\work\jagdeep\avii\"/>
    <add key="maxEsn" value="10"/>
    <add key="company" value="iWireless"/>
    <add key="maxesnmessage" value="Esn Should be between 15 to 30 digits!"/>
    <add key="esnmessage" value="ESN already added to the RMA!"/>
    <add key="deafultrole" value="public access"/>
    <add key="invalid" value="ESN doesn't exists!"/>
    <add key="missing" value="Missing MSL!"/>
    <add key="url" value="~/logon.aspx"/>
    <add key="rmadaterange" value="90"/>
    <add key="skumsg" value="90"/>
    <add key="emailtemplate" value="\inetpub\wwwroot\avii\Emails\ForgotPassword.htm"/>
    <add key="SecurityKey" value="Lan Global UserName"/>
    <!--CSV FILE SIZE-->
    <add key="maxCSVfilesize" value="3145728"/>
    <add key="bulkrmaesn" value="500"/>
    <!--FILE UPLOADED STORAGE FOLDER -->
    <add key="EsnAssigmentFilesStoreage" value="\UploadedData\EsnAssignment\"/>
    <add key="FulfillmentOldFilesStoreage" value="\UploadedData\FulfillmentOld\"/>
    <add key="FulfillmentFilesStoreage" value="\UploadedData\Fulfillment\"/>
    <add key="BulkRMAFilesStoreage" value="\UploadedData\BulkRMA\"/>
    <add key="BadESNFilesStoreage" value="\UploadedData\BadESN\"/>
    <add key="ESNUploadFilesStoreage" value="\UploadedData\ESNUpload\"/>
    <add key="SIMUploadFilesStoreage" value="\UploadedData\SIMUpload\"/>
    <add key="ShipmentAssnFilesStoreage" value="\UploadedData\ShipmentAssn\"/>
    <add key="ShipmentFilesStoreage" value="\UploadedData\Shipment\"/>
    <add key="FulfillmentCloseDeleteFilesStoreage" value="\UploadedData\FulfillmentCloseDelete\"/>
    <add key="CleanBadESNFilesStoreage" value="\UploadedData\CleanBadESN\"/>
    <add key="forecast" value="\UploadedData\Forecast\"/>
    <add key="avfc" value="FC"/>
    <add key="daterange" value="180"/>
    <add key="UploadAdmin" value="Upload Admin"/>
    <add key="UploadAdminDateRange" value="3"/>
    <add key="smtpClient" value="mail.sanvitti.com"/>
    <!-- .com server-->
    <!-- <add key ="smtpFromEmail" value="customercare@parkeee.com"/>-->
    <!-- .net server-->
    <add key="smtpFromEmail" value="Support@sanvitti.com"/>
    <add key="smtpMailPassword" value="Test@1234"/>
    <add key="port" value="8889"/>
    <add key="maxfilesize" value="2097152"/>
    <add key="maxshipmentdays" value="10"/>
    <add key="RMA_AUTO_EMAIL" value="true"/>
    <add key="ShipFromContactName" value="FreedomPop"/>
    <add key="ShipFromContactName2" value="Red Pocket"/>
    <!--<add key="ShipFromAddress" value="12031 Sherman Road" />
    <add key="ShipFromCity" value="North Hollywood" />
    <add key="ShipFromState" value="CA" />
    <add key="ShipFromZip" value="91605" />-->
    <add key="ShipFromAddress" value="4080 North Pecos Road Suite# 101"/>
    <add key="ShipFromCity" value="Las Vegas"/>
    <add key="ShipFromState" value="NV"/>
    <add key="ShipFromZip" value="89115"/>
    <add key="ShipFromCountry" value="USA"/>
    <add key="ShipFromAttn" value="FreedomPop"/>
    <add key="ShipFromPhone" value="8189332222"/>
    <add key="ShipStation_URL" value="https://ssapi.shipstation.com/"/>
    <add key="ShipStation_AUTH" value="Basic M2NhOWRhM2ViZGIyNDM3MTgyNmJiY2FjMGY3YjMzY2Q6MjAzNDYyZTI0Y2EzNDAyYmFmNGE4ZmFlYmM1YTZkMTE="/>
    <add key="ShipmentTracking" value="Shipment Tracking"/>
    <add key="expiretime" value="24"/>
    <add key="BatchRoot" value="BatchRoot"/>
    <add key="ActionFolders" value="Provisioing,Kitting,Receive"/>
    <add key="ProvisioingFileFormat" value=".csv"/>
    <add key="KittingFileFormat" value=".csv"/>
    <add key="ReceiveFileFormat" value=".csv"/>
    <add key="dishactivationcode" value="269"/>
    <add key="receivelength" value="30,20,20,20,20,20,20"/>
    <add key="ebaymgmtinventory" value="https://us-central1-moonlit-order-324907.cloudfunctions.net/ebay-inventoryMgmt-function"/>
    <add key="ebayorderfunction" value="https://us-central1-moonlit-order-324907.cloudfunctions.net/ebay-order-function"/>
  </appSettings>
  <ShippingLabelFromSettings>
    <PrintFromSettings CompanyName="LangGlobal Inc." ContactName="Fulfillment Services" Address="12031 Sherman Road" City="North hollywood" State="CA" Postal="91605" Email="jagdeep@langlobal.com" ShowReturnAddress="true" ContentType="Merchandise"/>
  </ShippingLabelFromSettings>
  <EndiciaAccountSettings>
    <EndiciaAccontInfo AccountID="2553271" RequesterID="lxxx" PassPhrase="access granted!"/>
  </EndiciaAccountSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <!--<httpRuntime requestValidationMode="2.0"/>-->
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add name="avModule" type="avii.Module.Secure"/>
      <add name="httpModule" type="avii.httpModule, avii"/>
    </httpModules>
    <urlMappings enabled="true">
      <add url="~/logon" mappedUrl="~/logon.aspx"/>
    </urlMappings>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.

    <trust level="Full" originUrl="www.aerovoice.com"/>    -->
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.8">
      <assemblies>
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
    <customErrors mode="Off"/>
    <!--  AUTHENTICATION defaultRedirect="~/Error/CustomError.aspx"
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
    <authentication mode="Windows"/>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*"/>
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
    <pages validateRequest="false" viewStateEncryptionMode="Auto" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="15360"/>
  </system.web>
  <applicationSettings>
    <avii.Properties.Settings>
      <setting name="avii_com_telspace_ShoppingBag" serializeAs="String">
        <value>http://mvneplatform.com/ShoppingBag.asmx</value>
      </setting>
      <setting name="avii_com_sanvitti_www_PurchaseOrder" serializeAs="String">
        <value>http://sanvitti.com/purchaseorder.asmx</value>
      </setting>
      <setting name="avii_com_aerovoice_www_PurchaseOrder" serializeAs="String">
        <value>http://jbhargava-001-site1.htempurl.com/purchaseorder.asmx</value>
      </setting>
      <setting name="avii_com_aerovoice2_www_PurchaseOrder" serializeAs="String">
        <value>http://jbhargava-001-site1.htempurl.com/purchaseorder.asmx</value>
      </setting>
    </avii.Properties.Settings>
  </applicationSettings>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
    <modules>
      <add name="SanvittiModule" type="avii.SanvittiModule"/>
    </modules>
    <!--<serverRuntime maxRequestEntityAllowed="1048576"  uploadReadAheadSize="1048576" />-->
  </system.webServer>
  <system.serviceModel>
    <bindings/>
    <client/>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XPath.XDocument" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XmlSerializer" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.XDocument" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml.ReaderWriter" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="CC7B13FFCD2DDD51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Timer" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Parallel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Overlapped" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.RegularExpressions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encoding" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.SecureString" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Principal" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Cryptography.Algorithms" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.3.0.0" newVersion="4.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Xml" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.3.0" newVersion="4.1.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Primitives" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization.Json" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Numerics" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Resources.ResourceManager" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Primitives" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ObjectModel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Sockets" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Requests" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Primitives" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.NetworkInformation" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Queryable" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Parallel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq.Expressions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Linq" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.2.0" newVersion="4.1.2.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IO.Compression" publicKeyToken="B77A5C561934E089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Globalization.Extensions" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Globalization" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Dynamic.Runtime" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tracing" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Tools" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.StackTrace" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Debug" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.Contracts" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.Common" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.0" newVersion="4.2.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.EventBasedAsync" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Concurrent" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.11.0" newVersion="4.0.11.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing.Common" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.2" newVersion="4.0.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>