<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="avii.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
				<!--<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>-->
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
					<!--<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>-->
        </sectionGroup></sectionGroup></sectionGroup></configSections>
<connectionStrings>
  <!--<add name="SQLConnectionString" connectionString="server=localhost;database=avtemp;MultipleActiveResultSets=True; Integrated Security=true;Persist Security Info=true;User ID=code1\usd21353;"/>-->
  <add name="SQLConnectionString" connectionString="server=sql5018.smarterasp.net;database=DB_A1EC2D_av;User ID=DB_A1EC2D_av_admin;PWD=Test@12345;Integrated Security=False;Persist Security Info=False;" />
</connectionStrings>
  
	<appSettings>

    <add key="aspnet:MaxHttpCollectionKeys" value="20000"/>
    <!--<add key="DBServerName" value="server=38.98.41.114;database=av;MultipleActiveResultSets=True; Integrated Security=false;Persist Security Info=False;User ID=av;PWD=Aerovoice003;Min Pool Size=7;Pooling=true;Max Pool Size=20;Timeout=320" />
    <add key="DBServerName2" value="server=38.98.41.114;database=av;MultipleActiveResultSets=True; Integrated Security=false;Persist Security Info=False;User ID=av;PWD=Aerovoice003;Min Pool Size=7;Pooling=true;Max Pool Size=20;Timeout=320" />
    <add key="DBServerName3" value="server=38.98.41.114;database=av;MultipleActiveResultSets=True; Integrated Security=false;Persist Security Info=False;User ID=av;PWD=Aerovoice003;Min Pool Size=7;Pooling=true;Max Pool Size=20;Timeout=320" />-->
    <add key="DBServerName" value="Data Source=sql5018.smarterasp.net;Initial Catalog=DB_A1EC2D_av;User ID=DB_A1EC2D_av_admin;Password=Test@12345;Integrated Security=False;" />
    <add key="DBServerName2" value="Data Source=sql5018.smarterasp.net;Initial Catalog=DB_A1EC2D_av;User ID=DB_A1EC2D_av_admin;Password=Test@12345;Integrated Security=False;" />
    <add key="DBServerName3" value="Data Source=sql5018.smarterasp.net;Initial Catalog=DB_A1EC2D_av;User ID=DB_A1EC2D_av_admin;Password=Test@12345;Integrated Security=False;" />

    <add key="DBServerNameAV" value="server=pc-PC\SQLSERVER;database=AV;MultipleActiveResultSets=True; Integrated Security=true;Persist Security Info=true;Connect Timeout=120"/>
		<add key="DBServerNameAV2" value="server=pc-PC\SQLSERVER;database=avlog;MultipleActiveResultSets=True; Integrated Security=true;Persist Security Info=true;Connect Timeout=120"/>
		<add key="DBServerNameAV3" value="pc-PC\SQLSERVER;database=avMasSync;MultipleActiveResultSets=True; Integrated Security=true;Persist Security Info=true;Connect Timeout=120"/>
		<!--<add key="DBServerName" value="server=38.98.41.114;database=av;MultipleActiveResultSets=True; Integrated Security=true;Persist Security Info=true;User ID=av\Aerovoice003;Connect Timeout=120"/>
    <add key="DBServerName2" value="server=38.98.41.114;database=avlog;MultipleActiveResultSets=True; Integrated Security=true;Persist Security Info=true;User ID=av\Aerovoice003;Connect Timeout=120"/>
    <add key="DBServerName3" value="server=38.98.41.114;database=avMasSync;MultipleActiveResultSets=True; Integrated Security=true;Persist Security Info=true;User ID=av\Aerovoice003;Connect Timeout=120"/>-->
		<add key="rmaemail" value="aerovoice.rma@aerovoice.com"/>
		<add key="AdminEmail" value="surandersharma@gmail.com"/>
		<add key="AdminEmailPwd" value="hanu@335"/>
    <add key="EmailTo" value="bhargava.jagdeep@gmail.com"/>
		<add key="MailServer" value="smtp.gmail.com"/>
    <add key="port" value="587" />
    <add key="enableSSl" value="false" />
    <!--205.178.146.249-->
		<add key="DownloadImages" value="\content\"/>
		<add key="LogonPage" value="/logon.aspx"/>
		<add key="pagesize" value="30"/>
		<add key="defaultuser" value="2"/>
		<add key="FullfillmentFilesStoreage" value="\UploadedData\"/>
    <add key="RMAFilesStorage" value="\RMAData\"/>
		<add key="FulfillmentSubjectOK" value="Your Aerovoice File is Ready for Download"/>
		<add key="FulfillmentSubjectCancel" value="File Sent was Canceled/ Deleted"/>
		<add key="FulfillmentSubjectPending" value="File Upload Confirmation"/>
		<add key="FulfillmentAdminEmail" value="admin@aerovoice.com"/>
		<add key="av_rma" value="AVRA"/>
		<add key="RmaStatusSubject" value="Status of RMA"/>
		<add key="UserType" value="LANGlobal"/>
		<add key="filepath" value="F:\work\jagdeep\avii\"/>
		<add key="maxEsn" value="10"/>
		<add key="company" value="iWireless"/>
		<add key="maxesnmessage" value="Esn Should be between 15 to 30 digits!"/>
		<add key="esnmessage" value="ESN already added to the RMA!"/>
		<add key="deafultrole" value="public access"/>
		<add key="invalid" value="ESN doesn't exists!"/>
		<add key="missing" value="Missing MSL!"/>
		<add key="url" value="http://sanvitti.com"/>
		<add key="rmadaterange" value="90"/>
		<add key="skumsg" value="90"/>
		<add key="emailtemplate" value="\inetpub\wwwroot\avii\Emails\ForgotPassword.htm"/>
		<add key="SecurityKey" value="Aerovoice UserName"/>
		<!--CSV FILE SIZE-->
		<add key="maxCSVfilesize" value="3145728"/>
    <add key="bulkrmaesn" value="500"/>
    <!--FILE UPLOADED STORAGE FOLDER -->
    <add key="EsnAssigmentFilesStoreage" value="\UploadedData\EsnAssignment\"/>
    <add key="FulfillmentOldFilesStoreage" value="\UploadedData\FulfillmentOld\"/>
    <add key="FulfillmentFilesStoreage" value="\UploadedData\Fulfillment\"/>
    <add key="BulkRMAFilesStoreage" value="\UploadedData\BulkRMA\"/>
    
    <add key="BadESNFilesStoreage" value="\UploadedData\BadESN\"/>
    <add key="ESNUploadFilesStoreage" value="\UploadedData\ESNUpload\"/>
    <add key="SIMUploadFilesStoreage" value="\UploadedData\SIMUpload\"/>
    <add key="ShipmentAssnFilesStoreage" value="\UploadedData\ShipmentAssn\"/>
    <add key="ShipmentFilesStoreage" value="\UploadedData\Shipment\"/>
    <add key="FulfillmentCloseDeleteFilesStoreage" value="\UploadedData\FulfillmentCloseDelete\"/>
    <add key="CleanBadESNFilesStoreage" value="\UploadedData\CleanBadESN\"/>
    <add key="forecast" value="\UploadedData\Forecast\"/>

    <add key="avfc" value="FC"/>
    <add key="daterange" value="180"/>
    <add key="UploadAdmin" value="Upload Admin"/>
    <add key="UploadAdminDateRange" value="1095"/>
    
    <add key="maxfilesize" value="2097152" />
    <add key="maxshipmentdays" value="10" />
    <add key="RMA_AUTO_EMAIL" value="true" />
    
    <add key="ShipFromContactName" value="FreedomPop"/>
    <add key="ShipFromAddress" value="12031 Sherman Road"/>
    <add key="ShipFromCity" value="North Hollywood"/>
    <add key="ShipFromState" value="CA"/>
    <add key="ShipFromZip" value="91605"/>
    <add key="ShipFromCountry" value="USA"/>
    <add key="ShipFromAttn" value="FreedomPop"/>
    <add key="ShipFromPhone" value="818-933-2222"/>
    <add key="ShipStation_URL" value="https://ssapi.shipstation.com/" />
    <add key="ShipStation_AUTH" value="Basic ODJmYjg2MjA2N2RkNDlmNmJhN2NjYWZmOTFkNWFiOTA6YmE0NmQwZjMwNjYxNDAxZTgyZjVjYmVlZDIxNDQ3OTg=" />


  </appSettings>
	<system.web>
    <webServices>
        <protocols>
            <add name="HttpGet"/>
            <add name="HttpPost"/>
        </protocols>
    </webServices>
		<!--<httpRuntime requestValidationMode="2.0"/>-->
		<httpHandlers>
			<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpHandlers>
		<httpModules>
			<add name="avModule" type="avii.Module.Secure"/>
			<add name="httpModule" type="avii.httpModule, avii"/>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></httpModules>
		<!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.

    <trust level="Full" originUrl="www.aerovoice.com"/>    -->
		<compilation debug="true" defaultLanguage="c#">
			<assemblies>
				<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Build.Framework, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
			<buildProviders>
				<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</buildProviders>
		</compilation>
		<!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.

          "On" Always display custom (friendly) messages.
          "Off" Always display detailed ASP.NET error information.
          "RemoteOnly" Display custom (friendly) messages only to users not running 
           on the local Web server. This setting is recommended for security purposes, so 
           that you do not display application detail information to remote clients.
    -->
		<customErrors mode="Off" >
		</customErrors>
		<!--  AUTHENTICATION defaultRedirect="~/Error/CustomError.aspx"
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"

          "None" No authentication is performed. 
          "Windows" IIS performs authentication (Basic, Digest, or Integrated Windows) according to 
           its settings for the application. Anonymous access must be disabled in IIS. 
          "Forms" You provide a custom form (Web page) for users to enter their credentials, and then 
           you authenticate them in your application. A user credential token is stored in a cookie.
          "Passport" Authentication is performed via a centralized authentication service provided
           by Microsoft that offers a single logon and core profile services for member sites.
    -->
		<authentication mode="Windows"/>
		<!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
		<authorization>
			<allow users="*"/>
			<!-- Allow all users -->
			<!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
		</authorization>
		<!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
		<sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20"/>
		<!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<pages validateRequest="false" viewStateEncryptionMode="Auto" >
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></controls></pages>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="15360" />
	</system.web>
	<applicationSettings>
		<avii.Properties.Settings>
   <setting name="avii_com_telspace_ShoppingBag" serializeAs="String">
    <value>http://mvneplatform.com/ShoppingBag.asmx</value>
   </setting>
   <setting name="avii_com_aerovoice_www_PurchaseOrder" serializeAs="String">
    <value>http://jbhargava-001-site1.htempurl.com/purchaseorder.asmx</value>
   </setting>
   <setting name="avii_com_aerovoice2_www_PurchaseOrder" serializeAs="String">
    <value>http://jbhargava-001-site1.htempurl.com/purchaseorder.asmx</value>
   </setting>
  </avii.Properties.Settings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v2.0.50727"/>
	</startup>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<remove name="ScriptHandlerFactory"/>
			<remove name="ScriptHandlerFactoryAppServices"/>
			<remove name="ScriptResource"/><add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
			<add name="ScriptResource" verb="GET,HEAD" path="ScriptResource.axd" preCondition="integratedMode" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></handlers>
		<modules>
			<remove name="ScriptModule"/>
			<add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></modules>
    <!--<serverRuntime maxRequestEntityAllowed="1048576"  uploadReadAheadSize="1048576" />-->
  </system.webServer>
	<system.codedom>
			<compilers>
				<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
					<providerOption name="CompilerVersion" value="v3.5"/>
					<providerOption name="WarnAsError" value="false"/></compiler></compilers>
  </system.codedom>
  	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" appliesTo="v2.0.50727">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/></dependentAssembly></assemblyBinding>
  </runtime>
   <system.serviceModel>
      <bindings />
      <client />
   </system.serviceModel>
</configuration>
